<h2>Registrar nova coleção</h2>
<form action="${process.env.API_HOST}/createGroup" method="POST">
    <p>Nome:</p>
    <input type="text" id="title" name="title">

    <br><br>
    <button style="padding: 10px;" type="submit" name="button">Criar</button>
</form>