<h2>Registrar biblioteca</h2>
<form action="<%= process.env.API_HOST %>/createLibrary" method="POST">
    <p>Nome: </p>
    <input type="text" name="name"  id="name">

    <p>Endereço: </p>
    <input type="text" name="street"  id="street">

    <p>Cidade: </p>
    <input type="text" name="city"  id="city">

    <button type="submit">Criar</button>
</form>